@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  max-width: 600px;
  margin: 40px auto;
  background-color: #252525;
  color: #fff;
}

header {
  text-align: center;
}

#loading {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#loading img {
  height: inherit;
  width: inherit;
}

.event {
  margin: 20px auto;
  max-width: 75%;
  padding: 15px 15px;
  background: #444444;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.event h3 {
  font-size: 25px;
  text-align: center;
}

.event li {
  margin: 5px 0;
}

.event .date {
    width: fit-content;
    font-size: 12px;
    background: #242424;
    padding: 5px;
}

.event .tag {
  display: inline-flex;
  margin: 5px; 
  padding: 3px 5px;
  background: #575757;
  border-radius: 5px;
  width:fit-content;
  color: #fff;
  transition: background 0.3s;
}

.event .tag:hover {
    background: #8b8b8b;
    transition: background 0.5s;
}