@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
    position: fixed;
    background-color: rgb(0, 0, 0);
    display: flex;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0px 20px;
    align-items: center;
    min-height: 75px;
    flex-grow: 1;
    width: 100%;
    justify-content: start;

}

#header-img {
    max-width: 300px;
    display: flex;
}

.nav-link {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.nav-link a {
    text-decoration:solid;
    color: rgb(233, 233, 233);
    padding: 0 1em;
}

.nav-link a:hover {
    color: red;
}

ul {
  list-style: none;
}

#home {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  max-width: 600px;
  margin: auto;
  background-image: url("../images/background.png");
  background-color: #222222;
  background-repeat: repeat;
  color: rgb(0, 0, 0);
}

.homeBoxContainer {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  border-radius: 5px;
}

.homeBox {
  margin: 15px auto;
  width: 192px;
  padding: 15px 15px;
  background: #ffffff;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.homeBox a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.homeInfo:hover {
  position: relative;
  top: 5px;
}

#projects-timeline {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  max-width: 600px;
  margin: 40px auto;
  background-color: #c4c4c4;
  background-image: url("../images/projecttimelinebg.png");
  background-repeat: repeat;
  color: rgb(0, 0, 0);
}

header {
  text-align: center;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  max-width: 450px;
  padding: 10px;
}

#loading {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#loading img {
  height: inherit;
  width: inherit;
}

.event {
  margin: 20px auto;
  max-width: 75%;
  padding: 15px 15px;
  background: #ffffff;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 980px) {
    .event {
    }
}

.event h3 {
  font-size: 25px;
  text-align: center;
}

.event li {
  margin: 5px 0;
}

.event .tag {
  display: inline-flex;
  margin: 5px; 
  padding: 3px 5px;
  background: #000000;
  border-radius: 3px;
  width: fit-content;
  color: #fff;
  transition: background 0.7s;
}

.event .tag:hover {
    background: #ffffff;
    color: #000;
    transition: background color 1s;
}

#minireviews {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 40px auto;
    background-color: #c4c4c4;
    background-image: url("../images/reviewsbg.png");
    background-repeat: repeat;
    color: rgb(0, 0, 0);
  }

.review {
    margin: 20px auto;
    padding: 15px 15px;
    background: #ffffff;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  @media (min-width: 980px) {
      .review {
      }
  }
  
  .review .art {
      max-width: 100px;
      display: float;
  }

  .review li {
    margin: 5px 0;
  }
  
  .review .review-container {
    display: flex;
    max-width: 85%;
    margin: 10px auto; 
    padding: 8px 15px;
    background: #000000;
    border-radius: 3px;
    color: #fff;
    transition: background 0.7s;
    justify-content: space-around;
    align-items: center;
  }

  .review-info {
    text-align: start;
  }

  .review-info h3 {
    font-size: 25px;
  }


  .review-container .art {
      background-color: rgb(151, 151, 151);
      border-radius: 3px;
      padding: 2px;
  }

  .summary {
      padding: 10px 20px;
  }


  #foodlogpage {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 40px auto;
    background-color: #c4c4c4;
    background-image: url("../images/foodlogbg.png");
    background-repeat: repeat;
    color: rgb(0, 0, 0);
  }

  .food {
    margin: 20px auto;
    max-width: 75%;
    padding: 15px 15px;
    background: #ffffff;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  @media (min-width: 980px) {
      .food {
      }
  }
  
  .food h3 {
    font-size: 25px;
    text-align: center;
  }
  
  .food li {
    margin: 5px 0;
  }

  .location {
    margin: 0px;
    font-size: 0.8rem;
  }
  
  .food .tag {
    display: inline-flex;
    margin: 5px; 
    padding: 3px 5px;
    background: #000000;
    border-radius: 3px;
    width: fit-content;
    color: #fff;
    transition: background 0.7s;
  }
  
  .food .tag:hover {
      background: #ffffff;
      color: #000;
      transition: background color 1s;
  }

  .food .image {
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 2px;
    max-width: 200px;
  }
  
  #bucketlistpage {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 40px auto;
    background-color: #c4c4c4;
    background-image: url("../images/bucketlistbg.png");
    background-repeat: repeat;
    color: rgb(0, 0, 0);
  }

  .blItem {
    margin: 20px auto;
    max-width: 75%;
    padding: 15px 15px;
    background: #ffffff;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  @media (min-width: 980px) {
      .food {
      }
  }
  
  .blItem h3 {
    font-size: 25px;
    text-align: center;
  }
  
  .blItem li {
    margin: 5px 0;
  }

  .location {
    margin: 0px;
    font-size: 0.8rem;
  }
  
  .blItem .tag {
    display: inline-flex;
    margin: 5px; 
    padding: 3px 5px;
    background: #000000;
    border-radius: 3px;
    width: fit-content;
    color: #fff;
    transition: background 0.7s;
  }
  
  .blItem .tag:hover {
      background: #ffffff;
      color: #000;
      transition: background color 1s;
  }

hr {
    margin: 5px 100px;
}